<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{#<h1>{{ question.question_text }}</h1>#}
{#<ul>#}
{#    {% for choice in question.choice_set.all %}#}
{#        <li>{{ choice.choice_text }}</li>#}
{#    {% endfor %}#}
{#</ul>#}


<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}{# 必须加上#}
{#    {% for question in question_set.all %}#}
    <fieldset>{#带标题的框框，legend 元素为 fieldset 元素定义标题#}
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
{#            forloop.counter 指示 for 标签已经循环多少次。#}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>

    <input type="submit" value="Vote">
</form>


</body>
</html>